.table-head{
    -fx-font-family: "Lexend Regular";
    -fx-font-size: 24px;
}
#btnCreate{
    -fx-font-family: "Lexend Regular";
    -fx-font-size: 24px;
    -fx-pref-height: 50px;
    -fx-background-color: #1BAFC0;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 0, 1);
}
#btnFiltrar{
    -fx-font-family: "Lexend Regular";
    -fx-font-size: 24px;
    -fx-pref-height: 50px;
}
#txtBuscar{
    -fx-font-family: "Lexend Regular";
    -fx-font-size: 24px;
    -fx-pref-height: 50px;
}
.label-view {
    -fx-font-family: "Lexend Regular";
    -fx-opacity: 0.5;
    -fx-font-size: 20px;
}
.label-welcome{
    -fx-font-family: "Lexend Regular";
    -fx-font-size: 40px;
}
