.table-head{
    -fx-font-family: "Lexend Regular";
    -fx-font-size: 24px;
}
.primary-button {
    -fx-background-color: #1BAFC0;
    -fx-background-radius: 8px;
    -fx-border-color: #1BAFC0;
    -fx-border-radius: 8px;
    -fx-border-width: 2px;
    -fx-font-family: "Lexend Regular";
    -fx-font-size: 24px;
    -fx-cursor: hand;
    -fx-pref-height: 50px;
}
.primary-button:hover, .secondary-button:hover {
    -fx-background-color: #0E5E67;
    -fx-border-color: #0E5E67;
    -fx-text-fill: #FFFFFF;
}
.primary-button:hover > .button-icon {
    -fx-fill: #FFFFFF;
}
.label-section {
    -fx-font-family: "Lexend Regular";
    -fx-font-size: 40px;
}
