
.menu-button {
    /* Dimensiones del botón */
    -fx-max-height: 50;
    -fx-pref-height: 50;
    -fx-pref-width: 300;

    /* Color de fondo para estado inactivo (normal) */
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    /* Estilo del texto */
    -fx-font-family: "Lexend light";
    -fx-text-fill: black;
    -fx-font-size: 8px;

}

.menu-button:hover {
    /* Color de fondo al pasar el mouse */
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.logout-button {
    /* Dimensiones del botón */
    -fx-max-height: 50;
    -fx-pref-height: 50;
    -fx-pref-width: 300;

    /* Color de fondo para estado inactivo (normal) */
    -fx-background-color: #FF3467;
    /* Estilo del texto */
    -fx-font-family: "Lexend light";
    -fx-text-fill: white;
    -fx-font-weight: bold;

    -fx-background-radius: 10px; /* Bordes redondeados */
}

.logout-button:hover {
    /* Color de fondo al pasar el mouse */
    -fx-background-color: #AB314F;
}

.normal-button {
    /* Dimensiones del botón */
    -fx-max-height: 50;
    -fx-pref-height: 50;
    -fx-pref-width: 300;

    /* Color de fondo para estado inactivo (normal) */
    -fx-background-color: #1BAFC0;

    /* Estilo del texto */
    -fx-font-family: "Lexend light";
    -fx-text-fill: white;
    -fx-font-size: 8px;


    -fx-background-radius: 10px; /* Bordes redondeados */
}
.normal-button:hover {
    /* Color de fondo al pasar el mouse */
    -fx-background-color: #0E5E67;
}


.user-color {
    -fx-font-size: 8px;          /* letra más pequeña */
    -fx-text-fill: white;        /* texto blanco */
    -fx-padding: 0 4px;          /* menos espacio interno */
    -fx-pref-width: 100px;        /* ancho más reducido */
    -fx-pref-height: 10px;       /* alto más reducido */
    -fx-background-color: #FFD700; /* amarillo */
    -fx-background-radius: 30px;  /* esquinas redondeadas */
}

/* Estilo para el título principal (Encabezado) */
.h1 {
    -fx-font-family: "Lexend bold"; /* Puedes cambiar la fuente si lo deseas */
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333; /* Color de texto oscuro, puedes ajustarlo */
}

/* Estilo para el subtítulo (Semi Encabezado) */
.h2 {
    -fx-font-family: "Lexend regular";
    -fx-font-size: 24px;
    -fx-font-weight: 500; /* Medium */
    -fx-text-fill: #555555; /* Un gris un poco más claro */
}

/* Estilo para el texto general (Texto) */
.text {
    -fx-font-family: "Lexend light";
    -fx-font-size: 24px;
    -fx-font-weight: normal; /* Regular */
    -fx-text-fill: #666666;
}

.outView-button {
    /* Dimensiones del botón */
    -fx-max-height: 50;
    -fx-pref-height: 50;
    -fx-pref-width: 300;

    /* Color de fondo para estado inactivo (normal) */
    -fx-background-color: transparent;

    /* Estilo del texto */
    -fx-font-family: "Lexend light";
    -fx-text-fill: black;
    -fx-font-size: 8px;

    -fx-background-radius: 10px; /* Bordes redondeados */
}
.active-button {
    /* Dimensiones del botón */
    -fx-max-height: 50;
    -fx-pref-height: 50;
    -fx-pref-width: 300;

    /* Color de fondo para estado inactivo (normal) */
    -fx-background-color: #0E5E67;

    /* Estilo del texto */
    -fx-font-family: "Lexend light";
    -fx-text-fill: white;
    -fx-font-size: 8px;


    -fx-background-radius: 10px; /* Bordes redondeados */
}
